{ex_doc,[{groups_for_modules,[{<<"metrics">>,
                               [prometheus_histogram,prometheus_summary,
                                prometheus_boolean,prometheus_counter,
                                prometheus_quantile_summary,prometheus_gauge]},
                              {<<"contrib">>,
                               [prometheus_http,prometheus_mnesia,
                                prometheus_test_instrumenter]},
                              {<<"formats">>,
                               [prometheus_text_format,
                                prometheus_protobuf_format]},
                              {<<"model">>,
                               [prometheus_model,prometheus_model_helpers]},
                              {<<"collectors">>,
                               [prometheus_mnesia_collector,
                                prometheus_vm_system_info_collector,
                                prometheus_vm_memory_collector,
                                prometheus_vm_msacc_collector,
                                prometheus_vm_dist_collector,
                                prometheus_vm_statistics_collector]}]},
         {source_url,<<"https://github.com/prometheus-erl/prometheus.erl">>},
         {main,<<"readme">>},
         {extras,[{'README.md',#{title => <<"Overview">>}},
                  {'LICENSE',#{title => <<"License">>}}]}]}.
{erl_opts,[debug_info,warn_unused_vars,warn_export_all,warn_shadow_vars,
           warn_unused_import,warn_unused_function,warn_bif_clash,
           warn_unused_record,warn_deprecated_function,warn_obsolete_guard,
           strict_validation,warn_export_vars,warn_exported_vars,
           {platform_define,"^(2|3)",recent_otp}]}.
{deps,[{quantile_estimator,"1.0.2"}]}.
{shell,[{apps,[prometheus]}]}.
{xref_extra_paths,[]}.
{xref_ignores,[prometheus_model]}.
{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,deprecated_functions]}.
{dialyzer,[{warnings,[no_return,error_handling,unknown]},
           {plt_extra_apps,[mnesia,quantile_estimator]}]}.
{profiles,
    [{test,
         [{erl_opts,[nowarn_missing_spec]},
          {eunit_compile_opts,[{src_dirs,["src","test/eunit"]}]},
          {covertool,[{coverdata_files,["ct.coverdata"]}]},
          {cover_enabled,true},
          {cover_export_enabled,true},
          {cover_excl_mods,[prometheus_model,prometheus]}]},
     {gpb,
         [{plugins,[{rebar3_gpb_plugin,"2.23.2"}]},
          {provider_hooks,
              [{pre,[{compile,{protobuf,compile}}]},
               {post,[{clean,{protobuf,clean}}]}]},
          {gpb_opts,
              [{i,"src/model"},
               {o_erl,"src/model"},
               {o_hrl,"include"},
               defs_as_proplists,strings_as_binaries,type_specs]}]},
     {benchmark,
         [{src_dirs,["src","benchmark"]},
          {deps,
              [{'erlang-color',
                   {git,"https://github.com/julianduque/erlang-color",
                       {branch,"master"}}}]}]}]}.
{hex,[{doc,#{provider => ex_doc}}]}.
{erlfmt,[write,
         {files,["include/**/*.{hrl,erl,app.src}",
                 "src/**/*.{hrl,erl,app.src}","test/**/*.{hrl,erl,app.src}",
                 "rebar.config.script","rebar.config"]},
         {exclude_files,["src/model/prometheus_model.erl",
                         "include/prometheus_model.hrl"]}]}.
{elvis,[#{dirs =>
              ["src","src/collectors","src/collectors/vm","src/contrib",
               "src/formats","src/metrics"],
          filter => "*.erl",
          rules =>
              [{elvis_text_style,line_length,
                                 #{limit => 120,skip_comments => false}},
               {elvis_style,invalid_dynamic_call,
                            #{ignore =>
                                  [prometheus_misc,prometheus_registry,
                                   prometheus_sup]}},
               {elvis_style,god_modules,#{limit => 54}},
               {elvis_style,dont_repeat_yourself,#{min_complexity => 50}}],
          ruleset => erl_files},
        #{dirs => ["src/model"],
          filter => "prometheus_model_helpers.erl",
          rules =>
              [{elvis_text_style,line_length,#{limit => 120}},
               {elvis_style,invalid_dynamic_call,
                            #{ignore => [prometheus_model_helpers]}},
               {elvis_style,god_modules,#{limit => 40}}],
          ruleset => erl_files},
        #{dirs =>
              ["test/eunit","test/eunit/format","test/eunit/contrib",
               "test/eunit/metric"],
          filter => "*.erl",
          rules =>
              [{elvis_text_style,line_length,#{limit => 120}},
               {elvis_style,invalid_dynamic_call,#{ignore => []}},
               {elvis_style,god_modules,#{limit => 40}},
               {elvis_style,variable_naming_convention,
                            #{regex => "^([A-Z_][0-9a-zA-Z_]*)$"}},
               {elvis_style,dont_repeat_yourself,#{min_complexity => 200}},
               {elvis_style,no_block_expressions,disable}],
          ruleset => erl_files},
        #{dirs => ["."],filter => "rebar.config",ruleset => rebar_config}]}.
{overrides,[]}.
